* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding-bottom: 40px; /* pro footer */ 
    background-image: url(https://static.scientificamerican.com/sciam/cache/file/1FCF0242-35AD-4E97-9558FBD4278568CD_source.jpg);
    background-color: rgba(218, 203, 203, 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 60px; /* pro header */ 
    /* foto de background sempre estatica */ 
}
.container{
    width: 90%; /* usa apenas 90% da tela no portfolio */ 
    margin: 0 auto;
    
}
.fixed-header, .fixed-footer{ /* header e footer acompanham o scroll */ 
    width: 100%;
    position: fixed; 
    background: rgba(51, 51, 51);
    color: #fff;
    cursor: default;
}
.fixed-header{
    top: 0;
    font-size: 25px;
    padding: 5px;
}
.fixed-footer{
    bottom: 0;
    font-size: 17px;
}    
.header{
    text-align: center;
}
.header a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    margin: 0 10% 0 10px;
}
.header a:hover{
    color:rgb(20, 149, 235);
    transition: 0.5s;
}
#sobre{
    scroll-margin-top: -20px;
}
#sobretexto{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    line-height: 1.7;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    /* text-shadow pra criar uma borda preta no texto */ 
}
#sobre .logo{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#projetos{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 800px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 30px;
}
.imgsite{
    margin-top: 20px;
    width: 75%;
    height: 75%;
}

.centrado { /* colocar a lista de paginas no meio */
    display: table;
    margin: 0 auto;
}

.pagina { /* escolha qual site aparece com o click do numero da pagina */ 
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(128, 128, 128, 0.548);
    border-top: 1px solid rgba(128, 128, 128, 0.548);
    color: rgb(20, 149, 235);
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.548);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.ultima {
    border-right: 1px solid rgba(128, 128, 128, 0.548);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.primeira {
    margin-left: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagina:hover {
    background-color: rgba(128, 128, 128, 0.548);
    transition: 0.5s;
    cursor: pointer;
}
ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left; /* manter escolha de paginas em linha */ 
}
#contato{
    color: white;
    font-size: 17px;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    position:absolute;
    left: 40%;
    padding-bottom: 80px;
    scroll-margin-top: 50px;
}
.formulario{
    font-size: 20px;
}
input, textarea{
    width:100%;
    padding: 10px;
    margin:2px 0 20px 0;
    font-family:inherit;
    border:0; 
    border-radius:5px;
}
#assunto{
    resize: vertical; /* aumentar a box */ 
    height: 150px;
}
.enviar {
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
}
.enviar:hover{
    cursor: pointer;
}
#projetos {
    scroll-margin-top: 30px;
  }
